<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:55</td>   <td>0</td> <td title="&gt;&gt;SteviaTestBase.configureSuiteSettings(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;configureSuiteSettings</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:55</td>   <td>94</td> <td title="&gt;&gt;SteviaTestBase.springTestContextPrepareTestInstance()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>18/09/13 19:52:56</td>   <td>1268</td> <td title="&gt;&gt;TestBase.addChromeDriverToPath()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;addChromeDriverToPath</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>18/09/13 19:52:56</td>   <td>1268</td> <td title="&gt;&gt;TestBase.configureSuite(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;configureSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>18/09/13 19:52:56</td>   <td>1268</td> <td title="&gt;&gt;TestBase.injectSizzle()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;injectSizzle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2599</td> <td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeTest(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2603</td> <td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.springTestContextPrepareTestInstance()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2612</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2612</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeClass(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.springTestContextPrepareTestInstance()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>18/09/13 19:52:58</td>   <td>2614</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.prepareTest(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;prepareTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="d7a775">  <td>18/09/13 19:52:58</td>   <td>2619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSearchScenarios.testStep_1()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">testStep_1</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.cleanContextOnMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;cleanContextOnMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="d7a775">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSearchScenarios.testStep_2()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">testStep_2</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.cleanContextOnMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;cleanContextOnMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="d7a775">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSearchScenarios.testStep_3()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">testStep_3</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.cleanContextOnMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;cleanContextOnMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SteviaTestBase.contextInitBeforeMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&gt;&gt;contextInitBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="d7a775">  <td>18/09/13 19:52:58</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSearchScenarios.testStep_4()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">testStep_4</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.cleanContextOnMethod(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;cleanContextOnMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.afterClassClean(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;afterClassClean</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/09/13 19:52:58</td>   <td>2681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>18/09/13 19:52:58</td>   <td>2681</td> <td>&nbsp;</td><td title="&lt;&lt;SteviaTestBase.cleanContextOnTest(org.testng.ITestContext)[pri:0, instance:assignement.atypon.searchTests.BasicSearchScenarios@35dab4eb]">&lt;&lt;cleanContextOnTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
</table>
